html, body {
  height: 100%; }

body {
  background: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

a {
  color: #0079c0; }

.text-success {
  color: #85d04a; }

.text-warning {
  color: #eea236; }

.text-danger {
  color: #d9534f; }

.container {
  width: 1300px; }
  @media (max-width: 1170px) {
    .container {
      width: auto; } }

@media (min-width: 992px) {
  body > .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%; }
    body > .container > .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1; } }

@media (max-width: 991px) {
  .sidebar {
    padding: 15px; } }

@media (min-width: 992px) {
  .sidebar {
    border-right: 1px solid #ddd;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 25px 30px 25px 25px; } }

.sidebar h3 {
  margin: 0 0 15px; }

.sidebar .lead {
  margin-bottom: 10px;
  font-size: 18px; }

.sidebar .nav a {
  padding-left: 0;
  padding-right: 0;
  background: transparent !important;
  display: inline-block; }
  .sidebar .nav a .label {
    margin-left: 5px; }

.sidebar .nav .active a {
  color: black; }

@media (max-width: 991px) {
  .content {
    padding: 15px; } }

@media (min-width: 992px) {
  .content {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 25px 30px;
    overflow-y: auto;
    overflow-x: hidden; } }

.section-heading {
  overflow: hidden; }
  .section-heading .btn {
    margin: 0 0 20px;
    font-weight: bold; }
    .section-heading .btn-add-key:not(.collapsed) {
      display: none; }
    .section-heading .btn-cancel-add-key.collapsed {
      display: none; }

.section-title {
  margin: 0 0 20px;
  float: left;
  line-height: 30px; }

/* Modal 
.modal {
  .panel {
    border: 0;
    box-shadow: 0 3px 6px rgba(0,0,0,.4);
    &-heading {
      position: relative;
      .btn-close {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        font-size: 20px;
        line-height: 20px;
      }
    }
    &-title {
      line-height: 20px;
    }
  }
  
  hr {
    margin: 15px -15px;
    border-color: #ddd;
  }
}
*/
#addKey .form-group {
  max-width: 300px; }
  #addKey .form-group:last-child {
    margin: 0; }

@media (min-width: 768px) {
  .user-form .form-group:last-child,
  .account-form .form-group:last-child {
    margin: 0 0 5px; } }

.user-form .row,
.account-form .row {
  margin: 0 -2.5px; }
  .user-form .row > div,
  .account-form .row > div {
    padding: 0 2.5px; }

.user-form .checkbox,
.account-form .checkbox {
  display: inline-block; }

.user-form .help-block,
.account-form .help-block {
  padding: 0 5px; }

.user-form .btn,
.account-form .btn {
  margin-right: 10px; }

.account-form .checkbox {
  display: block;
  margin-top: 0;
  font-size: 12px;
  line-height: 21px; }

.account-form small {
  font-size: 12px; }

.account-form .account-contact .control-label {
  margin-right: 10px;
  margin-bottom: 0;
  vertical-align: middle; }

.account-form .account-contact .checkbox {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle; }

.account-form .account-contact .row {
  margin-top: 5px; }

.well {
  padding: 15px;
  background: #e9e9e9;
  border-color: #ddd; }
  .well form hr {
    margin: 15px -15px;
    border-color: #ddd; }
  .well form .btn i {
    margin-right: 4px; }

.btn-file {
  position: relative;
  overflow: hidden; }

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block; }

/* Navbar */
.navbar {
  background: #333;
  margin: 0;
  border-radius: 0; }
  @media (min-width: 768px) {
    .navbar {
      min-height: 80px;
      padding-top: 15px; } }
  @media (min-width: 768px) {
    .navbar .navbar-right {
      margin-left: 15px;
      margin-right: 0; } }
  .navbar .label {
    margin-left: 5px; }
  .navbar-text {
    color: #ddd !important; }
  @media (min-width: 768px) {
    .navbar .navbar-brand img {
      height: 34px;
      width: auto;
      margin-top: -4px; } }
  @media (max-width: 767px) {
    .navbar .navbar-brand img {
      width: 240px;
      height: auto; } }

.panel-navigation {
  overflow: hidden; }
  .panel-navigation .panel-title {
    font-size: 14px;
    line-height: 20px; }
  .panel-navigation > .list-group > .list-group-item {
    font-weight: bold;
    color: #0079c0; }
    .panel-navigation > .list-group > .list-group-item.active {
      color: white; }
    .panel-navigation > .list-group > .list-group-item i {
      color: #85d04a;
      width: 25px;
      text-align: left;
      font-size: 18px;
      position: relative;
      top: 1px; }
    .panel-navigation > .list-group > .list-group-item.active i {
      color: white; }
  .panel-navigation > .list-group .subcategories {
    margin-top: 1px; }
    .panel-navigation > .list-group .subcategories .list-group-item {
      padding-left: 45px;
      border-radius: 0 !important; }
      .panel-navigation > .list-group .subcategories .list-group-item:not(.active) {
        background: #f5f5f5;
        color: #0079c0; }

/* Tables */
.table-hover tbody tr {
  cursor: pointer; }

.table th, .table td {
  padding-left: 15px !important;
  padding-right: 15px !important;
  vertical-align: middle !important; }

.table th {
  background: #f9f9f9;
  border-bottom-width: 1px !important;
  color: #999;
  font-size: 11px;
  line-height: 20px !important; }
  .table th i {
    font-size: 14px;
    margin-left: 4px; }

.table code {
  white-space: nowrap; }

.table .btn[disabled] {
  opacity: 1 !important; }

.table tr.table-collapse {
  background: #e9e9e9 !important; }
  .table tr.table-collapse td {
    padding: 15px; }
    .table tr.table-collapse td hr {
      margin: 15px -15px;
      border-color: #ddd; }

/* Login */
.login-page {
  background: #333; }
  .login-page img.logo {
    display: block;
    margin: 160px auto 40px; }
  .login-page .panel {
    border-color: transparent; }

/* Dashboard */
.panel-dashboard {
  transition: all 0.3s ease; }
  @media (max-width: 767px) {
    .panel-dashboard {
      margin-bottom: 10px; } }
  @media (min-width: 768px) {
    .panel-dashboard {
      margin-bottom: 30px; } }
  .panel-dashboard h4 {
    margin-top: 0;
    font-size: 12px; }
    .panel-dashboard h4 a {
      text-decoration: none; }
  .panel-dashboard a.active {
    color: #333; }
  .panel-dashboard .panel-body {
    padding-left: 55px;
    position: relative; }
    .panel-dashboard .panel-body i {
      position: absolute;
      left: 15px;
      top: 15px;
      color: #85d04a; }
    .panel-dashboard .panel-body ul {
      margin-bottom: 0;
      padding-left: 0;
      list-style: none; }

/* API Key Management */
/* Keyword Spotting Config App */
.keyword-config-page a.list-group-item {
  cursor: pointer; }
  .keyword-config-page a.list-group-item .list-group-item-heading {
    color: #0079c0; }
  .keyword-config-page a.list-group-item .remove {
    position: absolute;
    right: 0;
    top: 50%;
    display: block;
    font-size: 20px;
    line-height: 20px;
    margin-top: -30px;
    color: #bbb;
    padding: 20px;
    transition: color 0.3s ease; }
    .keyword-config-page a.list-group-item .remove:hover, .keyword-config-page a.list-group-item .remove:focus, .keyword-config-page a.list-group-item .remove:active {
      color: #d9534f; }
  .keyword-config-page a.list-group-item.add-group .list-group-item-heading {
    color: #85d04a;
    margin: 5px 0; }

.keyword-config-page .modal .panel {
  border-color: transparent; }
  .keyword-config-page .modal .panel .panel-heading {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px; }
    .keyword-config-page .modal .panel .panel-heading .close {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -11px;
      font-size: 20px;
      line-height: 20px;
      height: 20px; }
  .keyword-config-page .modal .panel form .form-group:last-child {
    margin-bottom: 0; }
  .keyword-config-page .modal .panel form hr {
    border-color: #ddd;
    margin: 15px -15px; }
  .keyword-config-page .modal .panel form .keywords-list .input-group {
    margin-bottom: 10px; }
    .keyword-config-page .modal .panel form .keywords-list .input-group .btn {
      padding-left: 10px;
      padding-right: 10px; }
    .keyword-config-page .modal .panel form .keywords-list .input-group i {
      font-size: 16px;
      line-height: 19px;
      color: #d9534f; }
  .keyword-config-page .modal .panel .panel-footer .btn {
    margin-right: 8px; }

/* Voicemails */
.panel-voicemails .list-group-item {
  padding: 12px 15px;
  padding-right: 40px; }
  .panel-voicemails .list-group-item:not(.collapsed) {
    border-bottom-color: transparent !important; }
  .panel-voicemails .list-group-item-heading {
    font-size: 14px;
    margin: 0; }
  .panel-voicemails .list-group-item .btn-delete {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    color: #d9534f; }
